{% assign logo_type = 'text' %}
{% if section.settings.logo %}
  {% assign logo_type = 'image' %}
  {% assign image_size = '600x200' %}
{% endif %}

<div class="fw--logo {% if logo_type == 'image' %}height-{{ section.settings.logo-height-range }}{% endif %} type--{{ logo_type }}">
  <h1 class="item font--heading" itemscope itemtype="http://schema.org/Organization">
    {% if logo_type == 'image' %}
      <a href="{{ shop.url }}" title="{{ shop.name }}" itemprop="url">
        {% if image_type == 'inverted' %}
          {% include 'hs-image-utils' with image: section.settings.inverted-logo %}<img alt="{{ section.settings.inverted-logo.alt | default: shop.name }}" class="lazyload hs-lazyload hs-id-1ac2a68c" data-aspectratio="{{ hs_aspect_ratio }}" data-parent-fit="contain" data-sizes="auto" data-src="{{ hs_data_src }}" data-widths="{{ hs_data_widths }}" itemprop="logo" src="{{ section.settings.inverted-logo | img_url: image_size }}" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" style=";max-width: 100%;min-width: 80%;"/>
        {% else %}
          <img
            src="{{ section.settings.logo | img_url: image_size }}"
            alt="{{ section.settings.logo.alt | default: shop.name }}"
            itemprop="logo"
          >
        {% endif %}
      </a>
    {% else %}
      <a title="{{ shop.url }}" href="{{ shop.url }}">{{ shop.name }}</a>
    {% endif %}
  </h1>
</div>